.my-content{
    margin-top: 100px
}
.my-content-login{
    margin-top: 70px;
    padding-left: 120px;
    padding-right: 20px
}

.text-center{
    text-align: center
}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 5px;
}

.portfolio .thumbnail {
    position: relative;
}

.portfolio .thumbnail:hover {
    cursor: pointer;
}

.portfolio .caption {
    bottom: 0;
    position: absolute;
}
div.uppercase {
    text-transform: uppercase;
}

.portfolio .btn {
    opacity: 0.75;
}
